body {
	background: #008FFF;
  font: italic 12pt Arial;
}
header {
	font: normal 12pt Arial;
	color: white;
	text-align: center;
}
section {
	background: white;
	border-radius: 10px;
	height: 170px;
	box-shadow: 5px 5px 10px #000000A3;
	line-height: 30px;
	margin: center;
}
div#p {
	margin-left: 20px;
}
input#dn {
	background: 10px;
	width: 50px;
}
input#v {
	font: normal 12pt Arial;
	border-radius: 5px;
}
div#res {
	font: normal 11pt Arial;
	margin: center;
}
footer {
	color: white;
	text-align: center;
	margin-top: 30px;
}